@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply min-h-[100dvh];
    scroll-behavior: smooth;
  }

  .btn-primary {
    @apply border-indigo-500 bg-indigo-500 font-bold text-white hover:bg-indigo-600;
  }

  .btn-light {
    @apply border-indigo-50 bg-indigo-50 font-bold text-indigo-500;
  }

  .light-bg {
    @apply bg-indigo-50 text-indigo-500;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
}
