@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply h-screen;
  }

  li {
    @apply m-0 list-none p-0;
  }

  ul {
    @apply m-0 p-0;
  }

  p {
    @apply m-0 p-0;
  }

  a {
    @apply bg-transparent text-inherit no-underline;
  }
}
